---
layout: Stylesheet
---

@import "/assets/css/reset.css";
@import "/assets/css/highlight.css";

/* Containers: Body, Container, Box, Main, Header, Content */

:root {
  --main-hue: 0;
  --primary-bg-color: hsl(var(--main-hue), 0%, 100%);
  --secondary-bg-color: hsl(var(--main-hue), 0%, 96.9%);
  --ternary-bg-color: hsl(var(--main-hue), 0%, 91.4%);
  --quaternary-bg-color: hsl(var(--main-hue), 0%, 93%);
  --quinary-bg-color: hsl(var(--main-hue), 100%, 100%);

  --primary-border-color: hsl(var(--main-hue), 0%, 96.9%);
  --secondary-border-color: hsl(var(--main-hue), 0%, 91.4%);
  --ternary-border-color: hsl(var(--main-hue), 0%, 87.5%);

  --primary-box-shadow-color: hsl(var(--main-hue), 0%, 86.7%);
  --secondary-box-shadow-color: hsl(var(--main-hue), 0%, 81.2%);

  --primary-text-color: hsl(var(--main-hue), 0%, 33.3%);
  --secondary-text-color: hsl(var(--main-hue), 0%, 53.3%);
  --tertiary-text-color: hsl(var(--main-hue), 0%, 43.4%);

  --horizontal-rule-color: rgb(228, 227, 226);
  --anchor-text-color: hsl(210, 52.8%, 51.0%);
  --anchor-link-color: hsl(205, 12%, 70%);
  --search-placeholder-color: hsl(var(--main-hue), 0%, 60.0%);
  --searchbox-shadow-color:  hsl(204, 63.0%, 78.8%);
  --heading-font-family: Sarabun, sans-serif;
  --primary-font-family: Lora, serif;
  --secondary-font-family: Sarabun, sans-serif;

/* see https://www.modularscale.com/?16&px&1.25
   ratio is actually a major third 2^(1/3) : 1, or about 1.2599210499 : 1 */
  --text-3xs:  0.614rem; /* 9.8px */
  --text-2xs:  0.768rem; /* 12.3px */
  --text-xs:   0.960rem; /* 15.4px */
  --text-s:    1.200rem; /* 19.2px */
  --text-base: 1.500rem; /* this is body text size (24px) */
  --text-l:    1.875rem; /* 30px */
  --text-xl:   2.344rem; /* 37.5px */
  --text-2xl:  2.930rem; /* 46.9px */
  --text-3xl:  3.662rem; /* 58.6px */
  --text-4xl:  4.578rem; /* 73.2px */
}

/* JetBrainsMono-Regular for monospace */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local('JetBrains Mono Regular'), local('JetBrainsMono-Regular'),
       url('../fonts/JetBrainsMono-Regular.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

body {
  counter-reset: sidenote-counter;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.box {
  border-left: 1px solid var(--primary-border-color);
  border-right: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  width: 65%;
  position: absolute;
  top: 0;
}

header {
  display: flex;
  flex-direction: column;
}

main {
  min-height: 20rem;
  margin-left: 1.25rem;
  padding-right: 0.625rem;
}

/* Phrasing Style: H1, H2, H3, H4, H5, H6, P, A, UL, LI */

h1 {
  font-size: var(--text-xl);
}

h2 {
  font-size: var(--text-l);
}

h3 {
  font-size: var(--text-base);
}

h4 {
  font-size: var(--text-s);
}

h5 {
  font-size: var(--text-xm);
}

h6 {
  font-size: var(--text-2xs);
}

h1, h2 {
  color: var(--primary-text-color);
  font-family:  var(--heading-font-family);
  font-weight: normal;
}

h3, h4, h5, h6 {
  color: var(--primary-text-color);
  font-family:  var(--heading-font-family);
  font-weight: bold;
}

a, p, ul, li, ol, table, span, blockquote {
  color: var(--primary-text-color);
/*   font-family:   var(--primary-font-family);
  font-size: var(--text-base) */  /* Let's set the font-size to something old-man friendly */
}

span {
  font-size: inherit; /* This avoids mixing font sizes in the same line */
}

p a,
ul a,
li a,
td a,
th a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
span a,
div a,
ol a,
blockquote a,
cite a {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

ul ul {
  list-style-type: disc;
}

b, strong {
  font-weight: 600;
}

/* Figures, Images, Code, Blockquotes, Tables */

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: 'JetBrains Mono', Menlo, Monaco, Consolas, monospace;
  font-weight: 400;
  display: inline-block;
  overflow: auto !important;
  white-space: pre-line !important;
  word-wrap: break-word !important;
  padding: 2px 2px  2px 2px;
  vertical-align:middle;
  padding: 2px 2px 2px 2px;
  border: 1px solid var(--secondary-border-color);
  border-radius: 4px;
}

.regular-sans code {
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  border: none;
  font-family: var(--secondary-font-family) !important;
}

.serif code {
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  border: none;
  font-family: 'EB Garamond', Georgia, serif !important;
}

pre code {
  font-family: 'JetBrains Mono', Menlo, Monaco, Consolas, monospace;
  font-weight: 400;
  display: inline-block;
  overflow: auto !important;
  white-space: pre-line !important;
  word-wrap: break-word !important;
  padding: 15px 15px  15px 15px;
  vertical-align:middle;
  width: 90%;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--secondary-border-color);
  border-radius: 5px;
  color: var(--primary-text-color);
}

blockquote:before {
  display: none;
}

blockquote {
  padding: 10px;
}

blockquote p {
  font-family: inherit;
  font-size: var(--text-s);
}

summary {
  display: flex;
  align-items: center;
  outline: none;
}

cite {
  padding-left: 1rem;
  font-style: oblique;
}

table {
  border-radius: 5px;
  line-height: calc( var(--text-s) * 2);
}

th, td {
  color: var(--primary-text-color);
  padding: 8px;
  text-align: left;
  font-size: var(--text-s);
}

td {
  font-size: var(--text-s);
}

td a {
  color: inherit;
  text-decoration: none;
}

table th {
  font-weight: 600;
}

tr {
  border-radius: 5px;
}

thead tr:nth-child(odd) {
  background-color: var(--secondary-bg-color);
}

tbody tr:nth-child(even) {
  background-color: var(--secondary-bg-color);
}

hr {
  background-color: var(--horizontal-rule-color);
  color: var(--horizontal-rule-color);
  border: 0 none;
  height: 1px;
  margin-top: -10px;
}

/* Blogposts: Post-heading, Post-subheading, Post-content, Related Posts*/

.site-heading-rtl {
  padding: 16px 0;
  border-bottom: 2px solid var(--primary-border-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.site-heading-rtl > .main-page-heading {
  color: var(--primary-text-color);
  font-family:  var(--primary-font-family);
  font-weight: 600;
  margin-right: 20px;
}

.site-heading-rtl > .main-page-tagline {
  color: var(--secondary-text-color);
  font-family:  var(--primary-font-family);
  font-size: var(--text-xs);
  font-weight: 600;
  margin-right: 20px;
}

.site-heading-rtl > .main-page-subheading {
  color: var(--primary-text-color);
  font-family:  var(--primary-font-family);
  font-weight: 600;
  font-size: var(--text-s) !important;
  margin-right: 20px;
}

.site-heading-rtl a {
  text-decoration: none;
}

.site-heading-ltr {
  padding: 16px 0;
  border-bottom: 2px solid var(--primary-border-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.site-heading-ltr > .main-page-heading {
  color: var(--primary-text-color);
  font-family:  var(--primary-font-family);
  font-weight: 600;
  margin-left: 20px;
}

.site-heading-ltr > .main-page-tagline {
  color: var(--secondary-text-color);
  font-family:  var(--primary-font-family);
  font-size: var(--text-xs);
  font-weight: 600;
  margin-left: 20px;
}

.site-heading-ltr > .main-page-subheading {
  color: var(--primary-text-color);
  font-family:  var(--primary-font-family);
  font-weight: 600;
  font-size: var(--text-s) !important;
  margin-left: 20px;
}

.site-heading-ltr a {
  text-decoration: none;
}

.avatar {
  position: absolute;
  top: 50px;
  left: 10px;
}

.avatar-link {
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  display: inline-block !important;
  float: left;
  margin: -35px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
  font-family:  var(--primary-font-family);
}

.avatar-img {
  border: 2px solid var(--primary-bg-color);
  border-radius: 50%;
  box-sizing: border-box;
  height: 85px;
  width: 85px;
}

.dashboard {
  border-bottom: 1px solid var(--primary-border-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.userboard {
  clear: both;
  background-color: var(--secondary-bg-color);
  width: 100%;
  padding: 16px 0;
}

.username {
  padding-left: 20px;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.username p a {
  font-family: var(--secondary-font-family);
}

.username:hover {
  text-decoration: underline;
  color: var(--primary-text-color);
}

.userdesc {
  padding-left: 20px;
  font-size: var(--text-s);
}

.bio {
  margin-bottom: 0.5rem;
  font-family: var(--primary-font-family);
  font-size: var(--text-s);
}

.alt_link {
  font-family: var(--secondary-font-family);
  font-size: var(--text-xs) !important;
  display: flex;
  flex-direction: row;
}

.alt_link a {
  text-decoration: none;
  padding-left: 3px;
  color: var(--anchor-text-color);
}

.social {
  font-size: var(--text-xs) !important;
}

.anchor-link {
  stroke: var(--anchor-link-color) !important;
}

.main-site-subheader {
  border-bottom: 1px solid var(--primary-border-color);
  padding: 15px 0 15px 15px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-item:nth-of-type(1) {
  padding-left: 5px !important;
}

.menu-item {
  flex-basis: auto;
  border-right: 1px solid var(--primary-border-color);
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  padding-right: 17px;
  text-decoration: none;
}

.menu-item-icon {
  align-self: center;
  justify-self: center;
  stroke: var(--primary-text-color);
}

.menu-item-text {
  margin-top: 5px;
  margin-left: auto;
  font-weight: 600;
  font-size: var(--text-xs);
  font-family: var(--secondary-font-family);
  color: var(--primary-text-color);
}

.stale-link {
  background-color:#ffffc4;
}

#markdown-toc::before {
  content: "Contents";
  font-weight: bold;
  text-align: center;
}

#markdown-toc li {
  margin-left: 1rem;
  list-style: decimal;
}

#markdown-toc li * {
  padding-left: 3px;
}

#markdown-toc {
  border: 1px solid #aaa;
  padding: 1.5em;
  list-style: decimal;
  display: inline-block;
}

#markdown-toc a {
  text-decoration: none;
}

#markdown-toc a:hover {
  text-decoration: underline;
}

/* Common custom components between Main Site and Notes: Searchbar, Backbutton, ContentBox, Related Posts/Notes, Copyright,  */

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background-color: var(--secondary-bg-color);
}

.searchbar input[type="text"] {
  position: relative;
  padding-left: 30px;
  box-sizing : border-box;
  width: 100%;
  height: 40px;
  border: 0;
  font-family: var(--secondary-font-family) !important;
  color: var(--primary-text-color);
  font-size: var(--text-s);
  border-bottom: 1px solid var(--primary-border-color);
  background-color: var(--secondary-bg-color);
}

::placeholder {
  color: var(--search-placeholder-color);
  font-size: var(--text-s);
  font-family:  var(--secondary-font-family) !important;
}

.search-icon {
  order: 1;
  flex-grow: 1;
  padding-left: 20px;
  stroke: var(--secondary-text-color) !important;
}

.search-input-field {
  order: 2;
  flex-grow: 20;
}

.search-shortcut {
  order: 3;
  flex-grow: 2;
  text-align: right;
  padding-right: 20px;
}

.search-shortcut kbd:first-child, .search-shortcut kbd:nth-child(2) {
  vertical-align: middle;
  display: inline-block;
  color: var(--secondary-text-color);
  font-size: var(--text-s);
  border-radius: 0.2em;
  padding: 0.1em 0.3em;
  box-shadow:0 0 8px var(--primary-box-shadow-color);
}

.searchbar input[type="text"]:focus {
  border-color: var(--primary-border-color);
  box-shadow: 0 0 8px 0 var(--searchbox-shadow-color);
}

.searchbar input[type=text]:hover {
  background-color: var(--quinary-bg-color);
}

.searchbar input[type=text]:active,
.searchbar input[type=text]:focus {
  background-color: var(--quinary-bg-color);
  outline: none;
}

.search_res:hover {
  background-color: var(--secondary-bg-color);
}

.search_res:hover > a {
  font-weight: 600;
}

.search-results {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  background-color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08); ;
}

.search-result-title {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.search-results-list {
  padding-left: 0;
  margin-bottom: 0.25rem;
  list-style: none;
  font-size: var(--text-s) !important;
}

.search-results-list-item {
  padding: 0;
  margin: 0;
}

.search-result {
  display: block;
  padding-top: 0.25rem;
  padding-right: 0.75rem;
  padding-bottom: 0.25rem;
  padding-left: 20px;
  text-decoration: none !important;
}

.search-result:hover,
.search-result.active {
  background-color: var(--secondary-bg-color);
}

.search-result:hover > .search-result-title,
.search-result.active > .search-result-title {
  font-weight: 600;
}

.svg-doc {
  padding-right: 2px;
  stroke: var(--secondary-text-color) !important;
}

.search-result:hover > .svg-doc,
.search-result.active > .svg-doc {
  stroke: #555 !important;
}

.search-result-doc {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.search-result-doc.search-result-doc-parent {
  opacity: 0.5;
  font-size: var(--text-s) !important;
}

.search-result-doc .search-result-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  color: #7253ed;
  flex-shrink: 0;
}

.search-result-doc .search-result-doc-title {
  padding-left: 0.1rem;
  overflow: auto;
  font-family: var(--secondary-font-family) !important;
  font-size: var(--text-base);
}

.search-result-section {
  margin-left: 1.5rem;
  word-wrap: break-word;
}

.search-result-previews {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
  word-wrap: break-word;
  border-left: 1px solid;
  border-left-color: var(--secondary-border-color);
  font-size: var(--text-s) !important;
}

.search-result-preview span {
  color: var(--tertiary-text-color) !important;
}

.search-result-preview + .search-result-preview {
  margin-top: 0.25rem;
}

.search-result-highlight {
  font-weight: bold;
}

.search-no-result {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-family: var(--secondary-font-family) !important;
  color: var(--primary-text-color) !important;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity ease 400ms, width 0s 400ms, height 0s 400ms;
}

.search-active .search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.search-active .search-input-wrap {
  height: 4rem;
  border-radius: 0;
}

.search-active .search-results {
  display: block;
}

.search-active .search-overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity ease 400ms, width 0s, height 0s;
}

.back-icon {
  background-color: var(--quinary-bg-color);
  fill: currentColor;
  color: var(--primary-text-color);
  margin-top: 5px;
  padding-left: 5px;
  fill: currentColor;
  cursor: pointer;
}

.back-icon,
.back-p {
  vertical-align: middle;
  display: inline-block;
}

.back-p {
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}
.srccode {
  position: absolute;
  right: 10px;
}

.srccode:hover > a > i {
  font-weight: 600;
}

.feed-title-excerpt-block {
  width: 100%;
  cursor: pointer;
  margin-bottom: 1rem;
  border-top: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  padding: 10px 0;
}

.feed-title-excerpt-block:hover {
  background-color: var(--secondary-bg-color);
}

.feed-title-block {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.feed-title {
  color: var(--primary-text-color);
  margin-left: 1.25rem;
  margin-right: 3rem;
  font-size: var(--text-base);
  font-family:  var(--heading-font-family);
  font-weight: 600;
  line-height: calc( var(--text-base) * 1.3);
}

.feed-subtitle {
  color: var(--primary-text-color);
  margin-left: 2.5rem;
  margin-right: 3rem;
  font-size: var(--text-s);
  font-family:  var(--heading-font-family);
  font-weight: 600;
  line-height: calc( var(--text-s) * 1.3);
}

.feed-excerpt{
  color: var(--primary-text-color);
  margin-left: 20px !important;
  margin-right: 30px;
  font-family:  var(--primary-font-family);
  font-size: var(--text-s);
  line-height: calc( var(--text-s) * 1.6);
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  color: var(--primary-text-color);
  background: var(--secondary-bg-color);
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  border-radius: 32px;
  margin-right: 3px;
  height: auto;
  vertical-align: middle;
  font-family: var(--secondary-font-family);
  font-weight: normal !important;
  font-size: var(--text-xs);
}

.post-subtitle {
  padding-left: 2rem;
}

/* styles for the markdown of posts */

.content {
  margin: 1.5rem 0;
}

.content p,
.content a,
.content ol,
.content ul,
.content li,
.content table,
.content span,
.content blockquote {
  font-family: var(--primary-font-family);
  font-size: var(--text-base); /* Let's set the font-size to something old-man friendly */  line-height: calc( var(--text-base) * 1.833);
}

.content h3 {
  margin: var(--text-base) 0;
}

.content a {
  color: var(--anchor-text-color);
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.sn-right,
.mn-right {
  float: right;
  clear: right;
  font-family:  var(--secondary-font-family) !important;
  font-size: var(--text-s);
  line-height: calc( var(--text-s) * 1.3);
  margin-right: -45%;
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
  position: relative;
  padding-bottom: 5px;
}

.sn-left,
.mn-left {
  float: left;
  clear: left;
  font-family:  var(--secondary-font-family) !important;
  font-size: var(--text-s);
  line-height: calc( var(--text-s) * 1.3);
  margin-left: -45%;
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
  position: relative;
  padding-bottom: 5px;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sn-left:before,
.sn-right:before {
  font-family:  var(--secondary-font-family) !important;
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: var(--text-xs);
  top: -0.5rem;
  left: 0.1rem;
}

.sn-right:before,
.sn-left:before {
  content: counter(sidenote-counter) " ";
  font-size: var(--text-xs);
  top: -0.5rem;
}

blockquote .sn-left,
blockquote .mn-left {
  float: left;
  clear: left;
  margin-left: -58%;
  width: 40%;
  text-align: left;
}

li .sn-left,
li .mn-left {
  float: left;
  clear: left;
  margin-left: -53%;
  width: 40%;
  text-align: left;
}

blockquote .sn-right,
blockquote .mn-right {
  float: right;
  clear: right;
  margin-right: -59% !important;
  width: 40%;
  text-align: left;
}

li .sn-right,
li .mn-right {
  float: right;
  clear: right;
  margin-right: -49% !important;
  width: 40%;
  text-align: left;
}

.bylink_h2 {
  margin-top: 1.5rem;
}

.bylink {
  list-style: none;
}
.bylink a {
  font-family: var(--primary-font-family);
  font-size: var(--text-base); /* Let's set the font-size to something old-man friendly */  line-height: calc( var(--text-base) * 1.833);
  padding-left: 2rem;
}

.bylink a:hover {
  text-decoration: underline;
  color: var(--anchor-text-color);
}

.tooltip {
  display:inline;
  position:relative;
  text-align:left;
}

.tooltip bottom {
  display: none;
}

.tooltip .right {
  min-width:300px;
  top:50%;
  left:100%;
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px 20px;
  color: var(--primary-text-color);
  background-color:var(--primary-bg-color);
  font-weight:normal;
  font-size: var(--text-xs);
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px var(--primary-box-shadow-color);
  display:none;
}

.tooltip:hover .right {
  display:block;
}

.tooltip .right i {
  position:absolute;
  top:50%;
  right:100%;
  margin-top:-12px;
  width:12px;
  height:24px;
  overflow:hidden;
}

.tooltip .right i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:0;
  top:50%;
  transform:translate(50%,-50%) rotate(-45deg);
  background-color: var(--primary-bg-color);
  box-shadow:0 1px 8px var(--primary-box-shadow-color);
}

.right .tooltip-title {
  font-size: var(--text-s);
  font-weight: 600;
  display: inline-block;
}

.right .tooltip-excerpt {
  font-size: var(--text-xs);
  display: inline-block;
}

.right .tooltip-excerpt a {
  font-size: var(--text-xs);
}

input.margin-toggle {
  display: none;
}

.srs-svg {
  stroke: var(--primary-text-color);
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.spaced-rep {
  display: none;
}

input.srs-toggle {
  display: none;
}

label.srs-toggle {
  display: inline;
  cursor: pointer;
}

.srs-toggle:checked + .spaced-rep{
  display: block !important;
  left: 1rem;
  clear: both;
  margin: 1rem 2.5%;
  vertical-align: baseline;
  position: relative;
  padding: 12px;
  width: 240px;
  background-color: var(--primary-bg-color);
  border: solid 1px var(--ternary-border-color);
  border-radius: 5px;
  box-shadow: 1px 1px 15px var(--secondary-box-shadow-color);
  word-wrap:break-word;
}

/* styles for blockquotes written in double brackets */

.bq-container {
  margin: calc( var(--text-base) * 1.833 / 2) 0;
  padding: 0;
  background-color: var(--secondary-bg-color);
  border: solid 1px var(--ternary-border-color);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 12fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "txt txt"
    "cite link";
  position: relative;
  top: 0;
  transition: top ease 0.25s;
}

.bq-container:hover {
  box-shadow: 1px 1px 15px var(--secondary-box-shadow-color);
  top: -2px;
}

.bq-text {
  grid-area: txt;
  padding: 20px;
  border-bottom: solid 1px var(--ternary-border-color);
}

.bq-text blockquote {
  font-size: var(--text-base);
  line-height: calc( var(--text-base) * 1.5);
  padding: 0;
}

.bq-reference {
  grid-area: cite;
  padding: 20px;
  border-right: solid 1px var(--ternary-border-color);
}

.bq-reference p {
  padding: 0 0 0.5rem 0;
  font-size: var(--text-s);
  line-height: calc( var(--text-s) * 1.2);
  font-weight: 600;
}

.bq-reference cite {
  font-size: var(--text-s);
  line-height: calc( var(--text-s) * 1.2);
  font-style: normal;
  padding: 0;
}

.bq-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bq-link p {
  grid-area: link;
  font-size: var(--text-s);
}

.related {
  background-color:var(--secondary-bg-color);
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
}

.related h4 {
  color: var(--secondary-text-color);
  font-size: var(--text-xs);
  padding: 1rem 0 0.5rem 20px;
}

.related-wrapper {
  column-count: 2 !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.related-group {
  margin-left: 10px;
  width: 90% !important;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.related-group:hover {
  background-color: var(--quaternary-bg-color) !important;
}

.related-group a {
  text-decoration: none;
}

.related-title {
  padding: 0 10px 5px 10px;
  font-size: var(--text-s) !important;
  line-height: calc( var(--text-s) * 1.3);
  font-family:  var(--heading-font-family) !important;
  font-weight: 600;
}

.related-excerpt:before {
  content: "\"";
}

.related-excerpt:after {
  content: "\"";
}

.related-excerpt {
  color: var(--primary-text-color) !important;
  padding-left: 10px;
  padding-right: 5px;
  font-size: var(--text-s) !important;
  line-height: calc( var(--text-s) * 1.4);
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  color: var(--primary-text-color);
  outline: none;
  border: none;
  overflow: hidden;
  font-size: var(--text-base);
}

.context-menu-res {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: var(--primary-bg-color);
  border: solid 1px var(--ternary-border-color);
  border-radius: 5px;
  box-shadow: 1px 1px 15px var(--secondary-box-shadow-color);
}

.context-menu-res li {
  line-height: 0.8rem;
  padding-left: 0.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.context-menu-res--active {
  display: block;
}

.context-menu-res li:hover {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.context-menu-res li:hover >  .context-menu-res__link {
  font-weight: bold;
}

.context-menu-res__link {
  color: var(--primary-text-color);
  text-decoration: none;
}

/* context-menu styling */
.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 177px;
  background-color: var(--primary-bg-color);
  border: solid 1px var(--ternary-border-color);
  border-radius: 5px;
  box-shadow: 1px 1px 15px var(--secondary-box-shadow-color);
  }

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: var(--text-xs);
  font-family: var(--secondary-font-family) !important;
}

.context-menu__link:hover {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.popup {
  position: absolute;
  display: none;
}

#copyright {
  margin-left: 20px;
}

#copyright-notice {
  font-size: var(--text-2xs);
  font-weight: 700;
}

#disqus_thread {
  margin-left: 20px;
  margin-right: 10px;
}

/* Utilities: Disable Selection, Kramdown TOC */

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@media screen and (max-width: 1200px){
  .sn-right,
  .mn-right {
    margin-right: -35%;
    width: 30%;
  }

  .sn-left,
  .mn-left {
    margin-left: -35%;
    width: 30%;
  }

  blockquote .sn-left,
  blockquote .mn-left {
    margin-left: -51% !important;
    width: 30% !important;
  }

  li .sn-left,
  li .mn-left {
    margin-left: -43% !important;
    width: 30% !important;
  }

  blockquote .sn-right,
  blockquote .mn-right {
    margin-right: -56% !important;
    width: 30% !important;
  }

  li .sn-right,
  li .mn-right {
    margin-right: -41% !important;
    width: 30% !important;
  }

  .related-group {
    background-color:  var(--quaternary-bg-color) !important;
    margin-left: 10px;
    width: 90% !important;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .tooltip .right {
    display: none;
  }

  .tooltip .bottom {
    min-width:300px;
    top:40px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:var(--primary-text-color);
    background-color:var(--primary-bg-color);
    font-weight:normal;
    font-size: var(--text-s);
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px var(--primary-box-shadow-color);
    display:none;
  }

  .tooltip:hover .bottom {
    display:block;
  }

  .tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
  }

  .tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color: var(--primary-bg-color);
    box-shadow:0 1px 8px var(--primary-box-shadow-color);
  }

  .bottom .tooltip-title {
    font-size: var(--text-s);
    font-weight: 500;
    display: inline-block;
  }

  .bottom .tooltip-excerpt {
    font-size: var(--text-xs);
    display: inline-block;
  }

  .bottom .tooltip-excerpt a {
    font-size: var(--text-xs);
  }
}

/* smartphones, touchscreens */
@media (pointer: coarse) {
  .tooltip:hover .bottom, .tooltip:hover .right {
    display: none;
  }
  .feed-context {
    padding: 2px 10px 0 10px;
    height: 70px;
    right: 0;
    margin-top: 15px;
  }
  .search-shortcut {
    display: none;
  }
}

@media screen and (max-width: 800px){
  .box {
    width: 80%;
  }

  label {
    cursor: pointer;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sn-left, .sn-right,
  .mn-left, .mn-right {
    display: none;
  }

  .margin-toggle:checked + .sn-right,
  .margin-toggle:checked + .sn-left,
  .margin-toggle:checked + .mn-left,
  .margin-toggle:checked + .mn-right {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  .sketch-left, .sketch-right {
    display: inline-block !important;
    float: left !important;
    left: 1rem !important;
    clear: both !important;
    width: 95% !important;
    margin: 1rem 2.5% !important;
    vertical-align: baseline !important;
    position: relative !important;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 500px){
  .box {
    width: 100%;
    max-width: 100% !important;
    border-left: none !important;
    border-right: none !important;
  }
  .related-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}